.form-login{
  background: red;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width:20rem;
}
.login{
  width:100vw;
  height:100vh;
  background: blue;
  display: flex;
}
.login-section{
  
  flex: 1;
}

.active:hover{
  background: green;
  border-radius: 5px;
  color: white;
  
}